<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>connect</servlet-name>
        <servlet-class>database.connect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testConnexion</servlet-name>
        <servlet-class>database.testConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Url</servlet-name>
        <servlet-class>controllers.Url</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_profile</servlet-name>
        <servlet-class>controllers.update_profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>connect</servlet-name>
        <url-pattern>/connect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Url</servlet-name>
        <url-pattern>/Url</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_profile</servlet-name>
        <url-pattern>/update_profile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- For data base connexion -->
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/hospital</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/notfound.jsp</location>
    </error-page>
</web-app>
