/* 
    Created on : Jul 24, 2014, 1:58:27 AM
    Author     : Said GUERRAB
*/
h1 {
  color: #e14853;
}
h2,
legend {
  color: #e8747c;
}
h3,
label,
th {
  color: #ef9fa5;
}
h4 {
  color: #f3b5ba;
}
.has-error {
  color: red;
}
